/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    font-style: italic; /* Letra cursiva */
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Estilos para el primer HTML (Departamentos) */
h1 {
    text-align: center;
    color: #333;
    font-style: italic; /* Letra cursiva */
}

a {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007bff; /* Azul */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-style: italic; /* Letra cursiva */
}

a:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-style: italic; /* Letra cursiva */
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

form {
    display: inline;
    font-style: italic; /* Letra cursiva */
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-style: italic; /* Letra cursiva */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

/* Estilos para el segundo HTML (Login) */
form {
    max-width: 300px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-style: italic; /* Letra cursiva */
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-style: italic; /* Letra cursiva */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-style: italic; /* Letra cursiva */
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

p {
    text-align: center;
    color: #666;
    font-style: italic; /* Letra cursiva */
}

b {
    color: #333;
    font-style: italic; /* Letra cursiva */
}
